<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bodylogical.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02864F6D1EA73A0F004A1000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02864F841EA73A0F004A1000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02864F8F1EA73A0F004A1000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
